<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/home.css">
    
</head>

<body>

    <div class="titulo">
        <img src= "../static/images/logo.png" alt="logo"> 
        <h1>Kiwk-E-Mart </h1>
    </div>

    <div class="segundo_titulo">  
        <p>TARJETA Kiwk-E-Mart</p>
    </div> 

    <div class="subtitulo">
        <p> <a href="/promociones/">Más cerca de nuestros clientes</a></p> 
    </div> 

    <div class="figuras">
        <img src="../static/images/figuras.png" alt="figuras">
    </div>
    
</body>
</html>