<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Promociones</title>
    <link rel="stylesheet" href="../static/css/promociones.css">

</head>

<body>
    
    <div class="titulo">
        <h1>Nuestros clientes</h1>
    </div>

    <div class="centro">
        <div class="rectangulo1">
            <div class="gold"> 
                <p>GOLD</p>
            </div>
         </div>
        <div class="rectangulo2">
            <div class="silver">
                <p>SILVER</p>
            </div>
         </div>
    </div>

    <div class="detalle">
        <div class="texto">
            <div class="texto_gold">
                <ul>
                    <li>{{promocion_gold.beneficios}}</li>
                    <li>{{promocion_gold.membresia}}</li>
                </ul>
            </div>
         </div>
        <div class="texto">
            <div class="texto_silver">
                <ul>
                    <li> {{promocion_silver.beneficios}}</li>
                    <li>{{promocion_silver.membresia}}</li>
                </ul>
            </div>
         </div>
     </div>
    
</body>
</html>